h1 {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 100px;
font-style: italic;
font-weight: 400;
font-variant-ligatures: additional-ligatures;

}

h2 {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100px;
    font-weight: 300;
    font-style: oblique;
    font-variant-numeric: oldstyle-nums;

}

p

{
font-display: inherit;
font-size: 100px;
font-variant: inherit;
font-variant: small-caps;
}