h1{
    background-color: aqua;
    text-align:center
    text-decoration: double;
    font-style: italic;
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    background-size: auto;
    width: fit-content;
    margin:0px;


}

ol{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: yellowgreen;
    width: fit-content;
    color: blue;

}
    
