*{
    margin: 0px;
    padding: 0px;
}

.main{
    background-color: aquamarine;
    height: 800px;
    width: 800px;
    margin-left: 250px;
    border: solid;

}
.header{
    background-color: yellow;
    height: 150px;
    width: 800px;
    float:left;

}
.branding{
    height: 150px;
    width: 200px;
    float:left;
    color: red;
    background-color: palevioletred;
    border: darkorange;
    
}
.social{
    height: 100px;
    width: 600px;
    float: left;
    color: rgb(137, 19, 141);
    background-color: rgb(34, 204, 162);


}
.social ul li{
font-size: 85px;
margin: 1px;
padding: 1px;
list-style: none;
display: inline-block;
margin-bottom: 1px;
padding-bottom: 1px;
color: azure;
}
.social ul li a:hover{
background-color: rgb(245, 16, 16);
color: darkblue;
}
.menu{
color: rgb(3, 4, 59);
background-color: rgb(198, 226, 176);
height: 50px;
width: 600px;
float: left;
}
.menu ul li {
    float:left;
    list-style: none;
    height: 30px;
    color: black;
    background-color: blueviolet;
    width: 70px;
    float: left;
    margin: 10px;
    margin-left: 25px;
    text-align: center;
    line-height: 30px;
    font-family:Arial, Helvetica, sans-serif;
    display: block;
    border-style: double;

}
.menu ul li:hover{
    background-color: red;

}
.menu ul li a{
    text-decoration: none;
    color: yellow;

}
.content{
    background-color: blue;
    height: 620px;
    width: 800px;
    float: left;

}
.hero{
    color: turquoise;
    height: 310px;
    background-color: gray;
    width: 800px;
    float: left;
    
}
.hero img{
    height: 310px;
    width: 800px;
    float: left;

}
.product{
    color: brown;
    background-color: yellowgreen;
    height: 310px;
    width: 800px;
    float: left;
    
}
.product img{
    height: 310px;
    width: 800px;
    float: left;
}

.footer{
    background-color: rgb(173, 231, 146);
    height: 30px;
    width: 800px;
    float: left;
}
.footer h5{
    margin-right: 1px;
    padding: 1px;
    font-size: 20px;
    float: right;
    color: blue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
